body {background-color: rgb(196, 224, 255);}

.jumbotron {
    background-color: rgb(196, 224, 255);
}

.card-header {
    background-color: rgb(117, 191, 226);

}

body {background-color: rgb(192, 246, 167);}



.card {
    text-align: center;
}

